@model IEnumerable<ButterfliesHunter.Models.Butterfly>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
@*
    <table class="table">
        <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Range)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ranking)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsProtected)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AuthorId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImgURL)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Range)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ranking)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsProtected)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImgURL)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
            <br/>
*@
@{List<Butterfly> list = Model.ToList(); }
<div>
    <div class="row">
        <div class="col-sm-4">
            <partial name="_Card" model="@list[0]" />
        </div>
        <div class="col-sm-4">
            <partial name="_Card" model="@list[1]" />
        </div>
        <div class="col-sm-4">
            <partial name="_Card" model="@list[2]" />
        </div>
    </div>
    <br />
    <div class="row">
        @for (int i = 3; i < list.Count; i++)
        {
            <div class="col-sm-3">
                <partial name="_Card" model="@list[@i]" />
            </div>
        }
    </div>
</div>
