@model IEnumerable<ButterfliesHunter.Models.Butterfly>

@{
    ViewData["Title"] = "Index";
}
@*
    <a asp-action="Create">Create New</a>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
*@
@{List<Butterfly> list = Model.ToList(); }
<div>
    <div class="row">
        <div class="col-sm-4">
            <partial name="_Card" model="@list[0]" />
        </div>
        <div class="col-sm-4">
            <partial name="_Card" model="@list[1]" />
        </div>
        <div class="col-sm-4">
            <partial name="_Card" model="@list[2]" />
        </div>
    </div>
    <br />
    <div class="row">
        @for (int i = 3; i < list.Count; i++)
        {
            <div class="col-sm-3">
                <partial name="_Card" model="@list[@i]" />
            </div>
        }
    </div>
</div>
