@model IEnumerable<ButterfliesHunter.Models.Hunter>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Hunters</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table bg-bright">
    <thead>
        <tr>
            <th>
                Hunter name
            </th>
            <th>
                Hunter email
            </th>
            <th>
                Hunter Voted
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Hunter item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            @if (item.Display)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            }
            else
            {
                <td class="text-info">
                    Inaccessible
                </td>
            }
            <td>
                <input type="checkbox" class="checkbox" checked="@item.Voted" />
            </td>
            @*<td>
            <a asp-action="Edit" asp-route-id="@item.HunterId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.HunterId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.HunterId">Delete</a>
        </td>*@
        </tr>
}
    </tbody>
</table>
