@model ButterfliesHunter.Models.Vote

@{
    ViewData["Title"] = "Void";
}

<h1>Details of <span class="text-info">@Model.Butterfly.Name</span></h1>
<div class="row">
    <div class="col-lg-8">
        <img src="@Model.Butterfly.ImgURL" alt="Image of @Model.Butterfly.Name" class="img-fluid full-width" />
    </div>
    <table class="col-lg-4">
        <tr>
            <td>Ranking</td>
            <td>@Model.Butterfly.Ranking</td>
        </tr>
        <tr>
            <td>Range</td>
            <td>@Model.Butterfly.Range</td>
        </tr>
        @if (Model.Butterfly.IsProtected)
        {
            <tr><td class="text-danger">Protected</td></tr>
        }
        <tr>
            <td>Name</td>
            <td>@Model.Hunter.Name</td>
        </tr>
    </table>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>
